body,
h1,
h2,
h3,
p {
  margin: 0;
  /* padding: 10px -10px; */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.explore-page-container {
  display:inline;
  margin: 0 auto; /* Center the container horizontally */
  padding: 0; /* Adjust the padding as needed */
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  background-color: #fdfdfd;
  color: #0a0a0a;
  padding: 50px 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  position: fixed;
  top: -20px;
  z-index: 500;
}
.title{
  font-size: 30px;
  position: relative;
  top:-15px;
}
.sidebar-item {
  margin-bottom: 10px;
  align-items: center;
}

.sidebar-item a {
  text-decoration:underline;
  color: #fff;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.navbar {
  justify-content: space-between;
  background-color: #fff; /* Light background color */
  padding: 8px ;
  position: fixed;
  left: 180px;
  width:90%;
  box-shadow:2px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 400;
}

/* Left-aligned list styles */
.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: larger;
  font-weight: 400;
}

.navbar li {
  margin-right: 20px;
  position: relative;
  left:800px;
  top:20px;
  cursor: pointer;
}

.navbar li:hover::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #007bff; /* Blue line color */
  bottom: -5px;
  transition: transform 0.3s ease;
  transform: scaleX(1);
}

.navbar li:active::after {
  transform: scaleX(0);
}

/* Search form styles */
.d-flex {
  display: flex;
  position: relative;
  left:150px;
  top: -10px;
}

/* Search input styles */
.d-flex .form-control {
  border: 1px solid #d3d3d3; /* Light gray border */
  padding: 10px 250px 10px 10px; /* Adjust padding for the input */
  border-radius: 8px; /* Slightly rounded corners */
  font-size: 15px; /* Adjust font size */
  outline: none; /* Remove default input outline */
}

.d-flex .form-control:focus {
  border-color: #4285f4; /* Google blue border on focus */
  box-shadow: 0 0 5px rgba(66, 133, 244, 0.5); /* Blue shadow on focus */
}

/* Search button styles */
.d-flex .btn {
  border: 1px solid #d3d3d3; /* Light gray border */
  padding: 7.5px 14px; /* Adjust padding for the button */
  border-radius: 1px 10px 10px 1px; /* Slightly rounded corners */
  background-color: #0883ff; /* Light gray background */
  color: #fff; /* Dark gray text color */
  cursor: pointer;
  position: relative;
  left:-10px;
}

.d-flex .btn:hover {
  background-color: #f0f0f0;
  color:#0a0a0a; 
}

.hostel-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 200px;
  position: relative;
  top: -100px;
  left: 90px;
  z-index: 100;
}

.hostel-card {
  width: calc(33% - 50px);
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
  overflow: hidden;
  max-width: 600px; /* Adjust the card's maximum width as needed */
  margin: 10px 0;
  text-decoration: none;
  color: #333;
  padding: 5px;  
  align-items: center;
}

/* .hostel-card:hover {
  transform: scale(1.05);
} */

.card-img {
  height: 200px;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.star-icon{
  color:gold;
  font-size: small;
}
.hostel-card title{
  font-weight: bold;
}
/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  top:-300px;
}