.MainDash {
  background-color: var(--white);
  border-radius: 10px;
  /* box-shadow: var(--boxShadow); */
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; /* Full width to prevent overflow */
  max-width: 1200px; /* Maximum width of the component */
  margin: 1rem auto; /* Center the component with margin on the top and bottom */
  /* margin-left: var(--sidebar-width);  */
}


/* Responsiveness */
@media screen and (max-width: 1250px) {
  .MainDash {
    /* Adjust the padding and margin for medium-sized screens */
    padding: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .MainDash {
    /* Full width on smaller screens for better readability */
    width: calc(100% - 40px); /* Subtracting padding from the sides */
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    align-items: stretch; /* Stretch children to full width */
    gap: 10px; /* Smaller gap between items */
  }
}
